body {
    font-size: 20px;
}

#input {
    width: 250px;
    background-color: #f0bf97;
    text-align: center;
}

#cardscontainer {
    width: 600px;
    background-color: aliceblue;
    height: 200px;
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 270px;
}