body {
    font-size: 18px;
}

#input {
    width: 250px;
    background-color: #f0bf97;
    text-align: center;
}

#cardscontainer {
    width: 600px;
    background-color: aliceblue;
    display: inline-block;
    position: absolute;
    top: 26px;
    left: 270px;
}

.book {
    width: 400px;
    background-color: #e7bff7;
}